In [129]:
import pandas as pd
from datetime import datetime,timedelta
import numpy as np
df = pd.read_csv("dags/predictive_maintenance.csv",parse_dates=["date_data"])

In [98]:
from datetime import datetime, timedelta

# Função para definir a data com base no valor de UDI
def calcular_data(udi):
    if udi <= 2000:
        return datetime.today().date() - timedelta(days=4)
    elif udi <= 4000:
        return datetime.today().date() - timedelta(days=8)
    elif udi <= 8000:
        return datetime.today().date() - timedelta(days=12)
    else:
        return datetime.today().date() - timedelta(days=16)

# Aplicando a função na coluna "UDI"
df["date_data"] = df["UDI"].apply(calcular_data)
df["date_data"] = pd.to_datetime(df["date_data"])

In [100]:
df.to_csv("dags/predictive_maintenance.csv",index = False)

In [135]:
pd.to_datetime("2024-11-02T23:39:55+00:00").tz_localize(None).normalize() <= df["date_data"][0]

False

In [130]:
df["date_data"]

0      2024-10-29
1      2024-10-29
2      2024-10-29
3      2024-10-29
4      2024-10-29
          ...
9995   2024-10-17
9996   2024-10-17
9997   2024-10-17
9998   2024-10-17
9999   2024-10-17
Name: date_data, Length: 10000, dtype: datetime64[ns]

In [131]:
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,date_data
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure,2024-10-29
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,2024-10-29
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,2024-10-29
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,2024-10-29
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,2024-10-29
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure,2024-10-17
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure,2024-10-17
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure,2024-10-17
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure,2024-10-17
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure,2024-10-17